In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dp=pd.read_csv("kc_house_data.csv")

In [3]:
dp.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
dp.drop("id",axis=1,inplace=True)

In [5]:
dp.drop("date",axis=1,inplace=True)

In [6]:
dp.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
X=dp.drop("price",axis=1)

In [8]:
y=dp["price"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

Apply linear regression

In [11]:
from xgboost import XGBRegressor

In [12]:
xgb=XGBRegressor()
xgb.fit(X_train,y_train)
y_pred=xgb.predict(X_test)

In [13]:
y_pred

array([ 395654.66, 1011555.2 , 1241970.9 , ...,  307769.6 ,  579344.7 ,
        341324.4 ], dtype=float32)

Find R2 and Mean Absolute Error

In [14]:
from sklearn.metrics import r2_score,mean_absolute_error

In [15]:
r2_score(y_test,y_pred)

0.8551257509067212

In [ ]:
mean_absolute_error(y_test,y_pred)

In [19]:
def predict_sales(bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15):
    features=np.array([[bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15]])
    results=xgb.predict(features).reshape(1,-1)
    return results[0]

In [22]:
bedrooms=3
bathrooms=2.00
sqft_living=1680
sqft_lot=8080
floors=1.0
waterfront=0
view=0
condition=3
grade=8
sqft_above=1680
sqft_basement=0
yr_built=1987
yr_renovated=0
zipcode=98074
lat=47.6168
long=-122.045
sqft_living15=1800
sqft_lot15=7503
cost=predict_sales(bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15)

In [23]:
cost

array([494320.6], dtype=float32)

In [25]:
import pickle
pickle.dump(xgb,open('prathmeshproject1.pkl','wb'))